<p style="color: green"><%= notice %></p>

<h1 class = "center">Products</h1><br>

<div class="d-flex justify-content-sm-around">
 <% @products.each_slice(3) do |product| %>
<div class="container-xs">
  <div class="row">
 
 <div class = "col-xs">

  
   <%= render product %>
 </div>
  </div>
   </div>

  <% end %>
</div>

</table>

