<p style="color: green"><%= notice %></p>

<h1 class = "center">Products</h1><br>

<div class="d-flex ">
 <% @products.each_slice(3) do |product| %>
<div class="container-fluid">
  <div class="row justify-content-around">
 
 <div class = "col-5">

 
   <%= render product %>
 </div>
  </div>
   </div>

  <% end %>
</div>

</table>

